<div class="head">
    <img src="../assets/cook_64px.png">
    <img id="logo-text" src="../assets/logo4.png">
</div>

<div>
    <h2 class="h2-heading">Its Awesome to see you Again! Just Enter your Credentials Below</h2>
</div>

<div>
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title id="matTitle">Awesome User Logging In</mat-card-title>
        </mat-card-header> 
        <mat-card-content id="matContents">
            <input placeholder="Your Digital (Email) Address ? " [(ngModel)]="userEmail" class="nameInput" required><br/><br/><br>
            <input type="password" placeholder="Can you type Your Strong Password?" [(ngModel)]="userPassword" class="nameInput" required><br/><br/><br/>
        </mat-card-content>       
        <mat-card-actions>  
            <a routerLink="/main"><button class="show-recipe" mat-button [disabled]="userEmail === '' || userPassword === ''" (click)="openSnackBar()" >Lets Go</button></a> 
        </mat-card-actions>
    </mat-card>
</div>
<!-- [disabled]="userEmail === ''" -->

<!-- (click)="openSnackBar()" -->
<div class="footer-container">
    <div id="footer-text">© 2020 Mom's Kitchen</div>
</div>
